.login_container {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_form_container {
  width: 900px;
  height: 500px;
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.left {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_container h1 {
  font-size: 40px;
  margin-top: 0;
  color: #003580;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.input {
  outline: none;
  border: none;
  width: 370px;
  padding: 15px;
  border-radius: 10px;
  background-color: #edf5f3;
  margin: 5px 0;
  font-size: 14px;
  color: #003580;
}

.error_msg {
  width: 370px;
  padding: 15px;
  margin: 5px 0;
  font-size: 14px;
  background-color: #f34646;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #003580;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.right h1 {
  margin-top: 0;
  color: white;
  font-size: 40px;
  align-self: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.link {
  color:#d71e1e;
  
}

.white_btn,
.green_btn {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: transparent;
  border-radius: 20px;
  width: 180px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.green_btn {
  background-color: #003580;
  color: white;
  margin: 10px;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #8244c4;
  }
}

/* Responsive styling */

@media only screen and (max-width: 992px) {
  .login_form_container {
    width: 80%;
    height: auto;
    flex-direction: column;
  }

  .left,
  .right {
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .left {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .right {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .white_btn,
  .green_btn {
    width: 100%;
  }
}
